:root {
  --nat-navbar-bg: rgb(123, 176, 84);
  --nat-navbar-bg-color: 123, 176, 84;
  --nat-navbar-bg-rgb: 123, 176, 84;
  --nat-navbar-text-color: white;
}

html,
body {
  --bs-dark: var(--nat-navbar-bg);
  --bs-light-rgb: 97, 163, 90;
  --bs-dark-rgb: var(--nat-navbar-bg-rgb);
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
  background: center fixed url("/green-ombre.jpg");
  background-size: cover;
}

body .navbar {
  --bs-navbar-active-color: var(--nat-navbar-highlight-text);
  --bs-navbar-brand-color: var(--nat-navbar-text-color);
  --bs-navbar-brand-hover-color: var(--nat-navbar-highlight-text);
  --bs-navbar-color: var(--nat-navbar-text-color);
  --bs-navbar-hover-color: var(--nat-navbar-highlight-text);
}

footer, footer a {
  color: var(--nat-navbar-text-color);
}

.bg-dark a.dropdown-item {
  color: var(--nat-navbar-bg);
}

.wrapper {
  box-sizing: border-box;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

#banner-div {
  position: relative;
  width: 100%;
}
#banner-image {
  height: 200px;
  object-fit: cover;
  width: 100%;

}

#profile-image {
  height: 200px;
  width: 200px;
  border-color: white;
  border-width: 2px;
}

#profile-nav {
  padding-top: 30px;
  padding-bottom: 40px;
  font-size: 20px;

}

#profile-cards {
  padding-top: 30px;
  padding-bottom: 40px;
  font-size: 20px;
}